.extra
  .extra-inner
    .container
      .row
        .span3
          %h4 About
          %ul
            %li
              %a{:href => "javascript:;"} About Us
            %li
              %a{:href => "javascript:;"} Twitter
            %li
              %a{:href => "javascript:;"} Facebook
            %li
              %a{:href => "javascript:;"} Google+
        / /span3
        .span3
          %h4 Support
          %ul
            %li
              %a{:href => "javascript:;"} Frequently Asked Questions
            %li
              %a{:href => "javascript:;"} Ask a Question
            %li
              %a{:href => "javascript:;"} Video Tutorial
            %li
              %a{:href => "javascript:;"} Feedback
        / /span3
        .span3
          %h4 Legal
          %ul
            %li
              %a{:href => "javascript:;"} License
            %li
              %a{:href => "javascript:;"} Terms of Use
            %li
              %a{:href => "javascript:;"} Privacy Policy
            %li
              %a{:href => "javascript:;"} Security
        / /span3
        .span3
          %h4 Settings
          %ul
            %li
              %a{:href => "javascript:;"} Consectetur adipisicing
            %li
              %a{:href => "javascript:;"} Eiusmod tempor
            %li
              %a{:href => "javascript:;"} Fugiat nulla pariatur
            %li
              %a{:href => "javascript:;"} Officia deserunt