.subnavbar
  .subnavbar-inner
    .container
      %ul.mainnav
        %li{:class => ((defined?(page) && page == :home) ? 'active' : nil)}
          %a{:href => "./"}
            %i.icon-home
            %span Home
        %li{:class => ((defined?(page) && page == :filter) ? 'active' : nil)}
          %a.dropdown-toggle{:href => filter_apps_path}
            %i.icon-filter
            %span Apps
        %li{:class => ((defined?(page) && page == :top_apps) ? 'active' : nil)}
          %a.dropdown-toggle{:href => top_apps_path}
            %i.icon-heart
            %span Top Apps
        %li{:class => ((defined?(page) && page == :top_50) ? 'active' : nil)}
          %a{:href => "javascript:;"}
            %i.icon-star
            %span Top 50