= render 'shared/subnavigation', :page => :home
.main
  .main-inner
    .container
      .row
        .span12
          = render 'shared/flash', :flash => flash
      .row
        .span3
          .widget
            .widget-header
              %i.icon-star
              %h3 Quick Stats
            .widget-content
              .stats
                .stat
                  %span.stat-value
                    = @apps.count
                  Arabic Apps
        .span9
          .widget.widget-table.action-table
            .widget-header
              %i.icon-th-list
              %h3 Apps
            .widget-content
              %table.table.table-striped.table-bordered.apps
                %thead
                  %tr
                    %th App Name
                    %th Markets
                    %th Categories
                    %th.td-actions
                %tbody
                  - @apps.each do |app|
                    %tr
                      %td.wide= link_to app.name, app.link, :target => '_blank'
                      %td.normal
                        - app.markets.collect(&:iso).each do |market|
                          %span.badge.market.pull-left
                            = market.upcase
                      %td.wide
                        - app.market_categories.each do |market_category|
                          %span.label.market.pull-left{:rel => "tooltip", :'data-title' => app.rank_at(market_category).try(:position)}
                            = "#{market_category.market.iso}_#{market_category.category.symbol}"
                        .clearfix
                      %td.td-actions
                        %a.btn.btn-small{:href => app_path(app.id), 'data-method' => :delete, 'data-confirm' => "Are you sure you want to delete this app?"}
                          %i.btn-icon-only.icon-remove
          = paginate @apps
    //container
  //main-inner
//main
= render 'shared/extrabar'
