/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-responsive
 *= require font-awesome
 *= require extras
 *= require overrides
 *= require base-admin
 *= require dashboard
*/

.badge.market{
	margin-right: 10px;
	margin-bottom: 5px;
}

.label.market{
	margin-right: 10px;
	margin-bottom: 5px;
}

table.apps{
	tr{
		td.narrow{
			min-width: 70px;
		}
		td.normal{
			min-width: 150px;
		}
		td.wide{
			min-width: 300px;
		}
	}
}