= render 'shared/subnavigation'
.main
  .main-inner
    .container
      .row
        .span12
          .form-horizontal
            %fieldset
              %legend App Settings
              .control-group
                %label.control-label Apps
                .controls
                  = button_to (@app_fetching ? "Fetching..." : "Fetch from App Store"), {:controller => :apps, :action => :fetch}, :class => "btn btn-primary #{@app_fetching ? 'disabled' : nil}", :disabled => @app_fetching
              .control-group
                %label.control-label Top Apps
                .controls
                  = button_to (@app_ranking ? "Ranking..." : "Rank Top Apps"), {:controller => :apps, :action => :top_rank}, :class => "btn btn-primary #{@app_ranking ? 'disabled' : nil}", :disabled => @app_ranking
= render 'shared/extrabar'

