!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title Dashboard - Base Admin
      %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
      %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
      %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600", :rel => "stylesheet"}
      = csrf_meta_tags
      / Le HTML5 shim, for IE6-8 support of HTML elements
      /[if lt IE 9]
        = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
      = stylesheet_link_tag "application", :media => "all"
      = javascript_include_tag "application"
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "./"}
            Base Admin
          .nav-collapse
            %ul.nav.pull-right
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-cog
                  Settings
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "javascript:;"} Account Settings
                  %li
                    %a{:href => "javascript:;"} Privacy Settings
                  %li.divider
                  %li
                    %a{:href => "javascript:;"} Help
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-user
                  Rod Howard
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "javascript:;"} My Profile
                  %li
                    %a{:href => "javascript:;"} My Groups
                  %li.divider
                  %li
                    %a{:href => "javascript:;"} Logout
            %form.navbar-search.pull-right
              %input.search-query{:placeholder => "Search", :type => "text"}
          / /.nav-collapse
        / /container
      / /navbar-inner
    / /navbar
    .subnavbar
      .subnavbar-inner
        .container
          %ul.mainnav
            %li.active
              %a{:href => "./"}
                %i.icon-home
                %span Home
            %li
              %a{:href => "./faq.html"}
                %i.icon-pushpin
                %span FAQ
            %li
              %a.dropdown-toggle{:href => "./pricing.html"}
                %i.icon-filter
                %span Pricing Plans
            %li
              %a{:href => "./reports.html"}
                %i.icon-bar-chart
                %span Reports
            %li
              %a{:href => "./guidely.html"}
                %i.icon-facetime-video
                %span Guided Tour
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:;"}
                %i.icon-share-alt
                %span More Pages
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "./charts.html"} Charts
                %li
                  %a{:href => "./account.html"} User Account
                %li.divider
                %li
                  %a{:href => "./login.html"} Login
                %li
                  %a{:href => "./signup.html"} Signup
                %li
                  %a{:href => "./error.html"} Error
        / /container
      / /subnavbar-inner
    / /subnavbar
    .main
      .main-inner
        .container
          .row
            .span6
              .widget
                .widget-header
                  %i.icon-star
                  %h3 Quick Stats
                / /widget-header
                .widget-content
                  .stats
                    .stat
                      %span.stat-value 12,386
                      Site Visits
                    / /stat
                    .stat
                      %span.stat-value 9,249
                      Unique Visits
                    / /stat
                    .stat
                      %span.stat-value 70%
                      New Visits
                    / /stat
                  / /stats
                  #chart-stats.stats
                    .stat.stat-chart
                      #donut-chart.chart-holder
                      / #donut
                    / /substat
                    .stat.stat-time
                      %span.stat-value 00:28:13
                      Average Time on Site
                    / /substat
                  / /substats
                / /widget-content
              / /widget
              .widget.widget-nopad
                .widget-header
                  %i.icon-list-alt
                  %h3 Recent News
                / /widget-header
                .widget-content
                  %ul.news-items
                    %li
                      .news-item-detail
                        %a.news-item-title{:href => "javascript:;"} Duis aute irure dolor in reprehenderit
                        %p.news-item-preview Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                      .news-item-date
                        %span.news-item-day 08
                        %span.news-item-month Mar
                    %li
                      .news-item-detail
                        %a.news-item-title{:href => "javascript:;"} Duis aute irure dolor in reprehenderit
                        %p.news-item-preview Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                      .news-item-date
                        %span.news-item-day 08
                        %span.news-item-month Mar
                    %li
                      .news-item-detail
                        %a.news-item-title{:href => "javascript:;"} Duis aute irure dolor in reprehenderit
                        %p.news-item-preview Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                      .news-item-date
                        %span.news-item-day 08
                        %span.news-item-month Mar
                / /widget-content
              / /widget
              .widget
                .widget-header
                  %i.icon-file
                  %h3 Content
                / /widget-header
                .widget-content
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                / /widget-content
              / /widget
            / /span6
            .span6
              .widget
                .widget-header
                  %i.icon-bookmark
                  %h3 Quick Shortcuts
                / /widget-header
                .widget-content
                  .shortcuts
                    %a.shortcut{:href => "javascript:;"}
                      %i.shortcut-icon.icon-list-alt
                      %span.shortcut-label Apps
                    %a.shortcut{:href => "javascript:;"}
                      %i.shortcut-icon.icon-bookmark
                      %span.shortcut-label Bookmarks
                    %a.shortcut{:href => "javascript:;"}
                      %i.shortcut-icon.icon-signal
                      %span.shortcut-label Reports
                    %a.shortcut{:href => "javascript:;"}
                      %i.shortcut-icon.icon-comment
                      %span.shortcut-label Comments
                    %a.shortcut{:href => "javascript:;"}
                      %i.shortcut-icon.icon-user
                      %span.shortcut-label Users
                    %a.shortcut{:href => "javascript:;"}
                      %i.shortcut-icon.icon-file
                      %span.shortcut-label Notes
                    %a.shortcut{:href => "javascript:;"}
                      %i.shortcut-icon.icon-picture
                      %span.shortcut-label Photos
                    %a.shortcut{:href => "javascript:;"}
                      %i.shortcut-icon.icon-tag
                      %span.shortcut-label Tags
                  / /shortcuts
                / /widget-content
              / /widget
              .widget
                .widget-header
                  %i.icon-signal
                  %h3 Chart
                / /widget-header
                .widget-content
                  #area-chart.chart-holder
                / /widget-content
              / /widget
              .widget.widget-table.action-table
                .widget-header
                  %i.icon-th-list
                  %h3 Table
                / /widget-header
                .widget-content
                  %table.table.table-striped.table-bordered
                    %thead
                      %tr
                        %th Engine
                        %th Browser
                        %th.td-actions
                    %tbody
                      %tr
                        %td Trident
                        %td
                          Internet
                          Explorer 4.0
                        %td.td-actions
                          %a.btn.btn-small.btn-warning{:href => "javascript:;"}
                            %i.btn-icon-only.icon-ok
                          %a.btn.btn-small{:href => "javascript:;"}
                            %i.btn-icon-only.icon-remove
                      %tr
                        %td Trident
                        %td
                          Internet
                          Explorer 5.0
                        %td.td-actions
                          %a.btn.btn-small.btn-warning{:href => "javascript:;"}
                            %i.btn-icon-only.icon-ok
                          %a.btn.btn-small{:href => "javascript:;"}
                            %i.btn-icon-only.icon-remove
                      %tr
                        %td Trident
                        %td
                          Internet
                          Explorer 5.5
                        %td.td-actions
                          %a.btn.btn-small.btn-warning{:href => "javascript:;"}
                            %i.btn-icon-only.icon-ok
                          %a.btn.btn-small{:href => "javascript:;"}
                            %i.btn-icon-only.icon-remove
                      %tr
                        %td Trident
                        %td
                          Internet
                          Explorer 5.5
                        %td.td-actions
                          %a.btn.btn-small.btn-warning{:href => "javascript:;"}
                            %i.btn-icon-only.icon-ok
                          %a.btn.btn-small{:href => "javascript:;"}
                            %i.btn-icon-only.icon-remove
                      %tr
                        %td Trident
                        %td
                          Internet
                          Explorer 5.5
                        %td.td-actions
                          %a.btn.btn-small.btn-warning{:href => "javascript:;"}
                            %i.btn-icon-only.icon-ok
                          %a.btn.btn-small{:href => "javascript:;"}
                            %i.btn-icon-only.icon-remove
                      %tr
                        %td Trident
                        %td
                          Internet
                          Explorer 5.5
                        %td.td-actions
                          %a.btn.btn-small.btn-warning{:href => "javascript:;"}
                            %i.btn-icon-only.icon-ok
                          %a.btn.btn-small{:href => "javascript:;"}
                            %i.btn-icon-only.icon-remove
                / /widget-content
              / /widget
            / /span6
          / /row
        / /container
      / /main-inner
    / /main
    .extra
      .extra-inner
        .container
          .row
            .span3
              %h4 About
              %ul
                %li
                  %a{:href => "javascript:;"} About Us
                %li
                  %a{:href => "javascript:;"} Twitter
                %li
                  %a{:href => "javascript:;"} Facebook
                %li
                  %a{:href => "javascript:;"} Google+
            / /span3
            .span3
              %h4 Support
              %ul
                %li
                  %a{:href => "javascript:;"} Frequently Asked Questions
                %li
                  %a{:href => "javascript:;"} Ask a Question
                %li
                  %a{:href => "javascript:;"} Video Tutorial
                %li
                  %a{:href => "javascript:;"} Feedback
            / /span3
            .span3
              %h4 Legal
              %ul
                %li
                  %a{:href => "javascript:;"} License
                %li
                  %a{:href => "javascript:;"} Terms of Use
                %li
                  %a{:href => "javascript:;"} Privacy Policy
                %li
                  %a{:href => "javascript:;"} Security
            / /span3
            .span3
              %h4 Settings
              %ul
                %li
                  %a{:href => "javascript:;"} Consectetur adipisicing
                %li
                  %a{:href => "javascript:;"} Eiusmod tempor
                %li
                  %a{:href => "javascript:;"} Fugiat nulla pariatur
                %li
                  %a{:href => "javascript:;"} Officia deserunt
            / /span3
          / /row
        / /container
      / /extra-inner
    / /extra
    .footer
      .footer-inner
        .container
          .row
            .span12
              \© 2012
              = succeed "." do
                %a{:href => "http://bootstrapadmin.com"} Base Admin